{% extends "examiner_base.html" %}

{% load i18n %}

{% block head %}
{% load static %}
<!-- autocomplete function was provided by courtesy of W3Schools. I didn't write it myself. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}"/>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>{% trans "Edit course" %} <b>{{object.name}}</b></h4>
<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    <label for="name">{% trans "Course name" %}:</label>
    {{course_form.name}}
    <br>
    <label for="category">{% trans "Course category" %}:</label>
    {{course_form.category}}
    <br>
    <label for="attempt_amount">{% trans "Attempt amount" %}:</label>
    <br>
    {{course_form.attempt_amount}}
    <br>
    <label for="time"> {% trans "Exam duration" %}:</label>
    <br>
    {{course_form.time}}
    <br><br>
    <label for="multiple_answer_questions">{% trans "Question type" %}:</label>
    <br>
    {% if object.multiple_answer_questions == True %}
    <input type="radio" id="multiple_answer_questions" checked name="multiple_answer_questions" value="on">
    {% trans "Multiple choice" %}
    <br>
    <input type="radio" id="multiple_answer_questions" name="multiple_answer_questions" value="off">
    {% trans "Single choice" %}
    {% else %}
    <input type="radio" id="multiple_answer_questions" name="multiple_answer_questions" value="on">
    {% trans "Multiple choice" %}
    <br>
    <input type="radio" id="multiple_answer_questions" checked name="multiple_answer_questions" value="off">
    {% trans "Single choice" %}
    {% endif %}
    <br><br>
    <label for="question_amount">{% trans "Amount of questions given to student" %}:</label>
    <br>
    {{course_form.question_amount}}
    <br>
    <label for="passing_score">{% trans "Amount of correct answers required to pass the exam" %}:</label>
    <br>
    {{course_form.passing_score}}<br>
    <div id="perc_score"></div>
    <label for="test_ready">{% trans "Exam ready" %}</label>
    {{course_form.test_ready}}
    <br>
    <button class="btn btn-success mt-2 myButton" type="submit" id="submit">{% trans "Save changes" %}</button>
  </form>
</div>
<a href="{% url 'examiner_user:detail-course' pk=object.pk slug=object.name|slugify %}">
  <button class="btn btn-success mt-1 mb-5 myButton">
    {% trans "Back" %}
  </button>
</a>
<hr>
<button type="button" class="btn btn-secondary dropdown-toggle tog myButton" id="lesson_nav">{% trans "Lessons" %}</button>
<div class="no-display">
  <h4>{% trans "Add new lesson" %}</h4>
  <p>{% trans "(attach learning resource as pdf)" %}</p>
  <div class="form-group">
    <form enctype="multipart/form-data" method="POST" action="{% url 'examiner_user:create-lesson' pk=object.pk slug=object.name|slugify %}">
        {% csrf_token %}
        <label for="title">{% trans "Lesson topic" %}:</label>
        {{ lesson_form.topic }}
        <br>
        {{ lesson_form.material }}
        {{ lesson_form.course.as_hidden }}
        <br>
        <button class="btn btn-success mt-1 myButton" type="submit" id="submit">{% trans "Add lesson" %}</button>
    </form>
  </div>
  <h4>{% trans "Amount of lessons attached to course" %}:</h4>
  {% if not lesson_list %}
  {% trans "No lessons" %}
  {% else %}
  <table class="table">
    <tbody>
      {% for lesson in lesson_list %}
      <tr>
        <td class="borderless" style="border: none;">
          <a href="{% url 'examiner_user:detail-lesson' pk=lesson.pk slug=lesson.topic|slugify %}">
            {{lesson.topic}}
          </a>
        </td>
        <td class="borderless" style="border: none;">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" id="submit" data-toggle="modal" data-target="#deleteModal{{forloop.counter}}">
              <div class="small">
                {% trans "Delete lesson" %}
              </div>
            </button>
        </td>
      </tr>
      <div class="modal fade" id="deleteModal{{forloop.counter}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{% trans "Lesson deletion" %}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {% trans "Are you sure you want to delete lesson" %} {{lesson.topic}}? {% trans "This choice can't be reverted." %}"
            </div>
            <div class="modal-footer">
              <form method="POST" action="{% url 'examiner_user:detail-lesson' pk=lesson.pk slug=lesson.topic|slugify %}">
                {% csrf_token %}
              <button class="btn btn-danger" type="submit" id="submit">{% trans "Delete lesson" %}</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
            </form>
            </div>
      
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
<hr>
<button typle="button" class="btn btn-secondary dropdown-toggle tog myButton" id="student_nav">{% trans "Student Groups" %}</button>
<div class="no-display" id="no-display student">
  <h4>{% trans "Add new student group" %}</h4> 
  <div class="form-group" id="form-group student">
    <form autocomplete="off" method="POST" action="{% url 'examiner_user:attach-course-text' pk=object.pk slug=object.name|slugify %}" id="group_form">
      {% csrf_token %}
      <div class="autocomplete" style="width:300px;">
        <label for="group_id">{% trans "(enter name of group that will be assigned to the course)" %}</label>
        {{ group_form.group }}
      </div>
      <div style="width:300px;">
        <label for="term_id">{% trans "Course deadline" %}:</label>
        {{ group_form.term }}
      </div>
      {{ group_form.course.as_hidden }}
      <br>
      <button class="btn btn-success mt-3 myButton" type="submit" id="submit_student">{% trans "Assign" %}</button>
    </form>
  </div>
  <script>let groups=[];</script>
  {% for group in student_groups %}
  <script>groups.push("{{group.name}}");</script>
  {% endfor %}
  <br>
  <h4>{% trans "Groups assigned to course" %} <b>{{object.name}}</b></h4>
  <table class="table">
    <tbody>
      {% for group in object.studentgroup_set.all %}
      <tr>
        <td class="borderless" style="border:none;" id="{{group.name}}_table">
          <a href="{% url 'examiner_user:examiner-edit-group' pk=group.pk slug=group.name|slugify %}">
            {{group.name}}
          </a>
        </td>
        <td width="21%">
          <div id="term_{{forloop.counter}}"></div>
        </td>
        <td width="10%">
            <button class="btn btn-success small" type="button" data-toggle="modal" data-target="#changeModal{{forloop.counter}}">
              {% trans "Change deadline" %}
            </button>
        </td>
        <td width="10%">
          <a href="{% url 'platform_admin:group-report' course=object.pk group=group.pk slug=object.name|slugify %}">
            <button class = "btn btn-success small">{% trans "Report" %}</button>
          </a>
        </td>
        <td class="borderless" style="border:none;">
          <form method="POST" action="{% url 'examiner_user:unattach-group' pk=object.pk slug=object.name|slugify %}">
            {% csrf_token %}
            <input type="hidden" value="{{group.pk}}" name="group">
            <button type="submit" class="btn btn-danger ml-2" id="{{group.username}}_delete">
              <div class="small">
                {% trans "Remove" %}
              </div>
            </button>
          </form>
        </td>
      </tr>
      <div class="modal fade" id="changeModal{{forloop.counter}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{% trans "Change deadline" %}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {% trans "Deadline change" %} <b>{{course.name}}</b>
              <br>
              {% trans "Many date formats are valid, for example: YYYY-MM-DD" %}
              <form method="POST" action="{% url 'examiner_user:course-change-term' pk=group.pk course=object.pk %}">
                {% csrf_token %}
                {{term_form.time}}
              </div>
            <div class="modal-footer">
              <button class="btn btn-success" type="submit" id="submit">{% trans "Change" %}</button>
              <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
            </form>
            </div>
      
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr> 
<a href="{% url 'examiner_user:create-question' pk=object.pk slug=object.name|slugify %}">
  <button class="btn btn-success myButton" id="add_question">
    {% trans "Add question" %}
  </button>
</a>
<br>
<a href="{% url 'examiner_user:search-question' pk=object.pk slug=object.name|slugify %}">
  <button class="btn btn-success mt-1 mb-5 myButton" id="view_questions">
    {% trans "View questions" %}
  </button>
</a>
<script>
    autocomplete(document.getElementById("id_group"), groups);
</script>
<script src="{% static 'js/course_edit.js' %}"></script>
{% for term in terms %}
  {% if term.0.course == object %}
    <script>
      document.getElementById("term_{{forloop.counter}}").innerHTML = ("{{term.0.time}}" + "{{term.1}}&nbsp&nbsp&nbsp")
    </script>
  {% endif %}
{% endfor %}

{% endblock %}