{% extends "examiner_base.html" %}

{% block head %}
{% load static %}
<!-- autocomplete function was provided by courtesy of W3Schools. I didn't write it myself. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}"/>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>Profil studenta <b>{{student.username}}</b></h4>
{% if groups|length == 1 %}
<p>Należy do grupy:
{% elif groups|length == 0 %}
<p>Student nie został przypisany do żadnej grupy
{% else %}
<p>Należy do grup:
{% endif %}
{% for group in groups %}
<br><a href="{% url 'examiner_user:examiner-edit-group' pk=group.pk %}">{{group.name}}</a>
{% endfor %}
</p>
<h4>Przypisz grupe do studenta</h4> 
<p>(wpisz nazwe grupy do której ma zostać przypisany student)</p>
<div class="form-group">
  <form autocomplete="off" method="POST">
    {% csrf_token %}
      <div class="autocomplete" style="width:300px;">
        {{ form.group }}
      </div>
      {{ form.student.as_hidden }}
      <br>
      <button class="btn btn-success mt-3" type="submit" id="submit">Przypisz</button>
  </form>
  <a href="{% url 'examiner_user:students' %}">
    <button class="btn btn-success mt-3" id="back">
      Wróć
    </button>
  </a>
</div>
Kursy przypisane do studenta:
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      {% load static %}
      <th scope="col" onclick="sortColumn('name',1)">Nazwa kursu <img id="img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('status',2)">Status <img id="img2" src="{% static 'img/sorting_button.png' %}"></th>
    </tr>
  </thead>
  <tbody id="tbody">
      
  </tbody>
</table>
<script>
    let test_marks = [];
    let objectList = [];
    let columnNum = 3;
function loadTableData(objectList) {
  const tableBody = document.getElementById("tbody");
  let dataHtml = ""
  for (let object of objectList) {
    dataHtml += `<tr><td>${object.name}</td><td>${object.status}</td></tr>`
  };
  tableBody.innerHTML = dataHtml;
};
</script>
{% for mark in test_marks %}
<script>
    test_marks.push("{{mark}}")
</script>
{% endfor %}
{% for course in courses %}
<script>
  objectList.push({"name" : "<a href='{% url 'examiner_user:results-course-student' course=course.0 student=student.pk %}''>{{course.1}}</a>", 
    "status" : test_marks[Number("{{forloop.counter}}")-1], "sort_status" : test_marks[Number("{{forloop.counter}}")-1],
     "sort_name" : "{{course.1}}"
     })
</script>
{% endfor %}
<script>let groups=[];</script>
{% for group in all_groups %}
<script>groups.push("{{group.name}}");</script> 
{% endfor %}
<script>
  autocomplete(document.getElementById("id_group"), groups);
</script>
{% load static %}
<script src="{% static 'js/table_sorting.js' %}"></script>
{% endblock %}