{% extends "examiner_base.html" %}

{% load i18n %}

{% block head %}
{% load static %}
<!-- autocomplete function was provided by courtesy of W3Schools. I didn't write it myself. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}"/>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>{% trans "Student profile" %} <b>{{student.username}}</b></h4>
{% if groups|length == 1 %}
<p>{% trans "Belongs to group" %}:
{% elif groups|length == 0 %}
<p>{% trans "Student is not assigned to any group" %}
{% else %}
<p>{% trans "Belongs to groups" %}:
{% endif %}
{% for group in groups %}
<br><a href="{% url 'examiner_user:examiner-edit-group' pk=group.pk slug=group.name|slugify %}">{{group.name}}</a>
{% endfor %}
</p>
<h4>{% trans "Assign group to student" %}</h4> 
<p>{% trans "(enter name of group to which the student will be assigned)" %}</p>
<div class="form-group">
  <form autocomplete="off" method="POST">
    {% csrf_token %}
      <div class="autocomplete" style="width:300px;">
        {{ form.group }}
      </div>
      {{ form.student.as_hidden }}
      <br>
      <button class="btn btn-success mt-3 myButton" type="submit" id="submit">{% trans "Assign" %}</button>
  </form>
  <a href="{% url 'examiner_user:students' %}">
    <button class="btn btn-success mt-3 myButton" id="back">
      {% trans "Back" %}
    </button>
  </a>
</div>
{% trans "Courses assigned to student" %}:
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      {% load static %}
      <th scope="col" onclick="sortColumn('name',1)">{% trans "Course name" %} <img id="img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('status',2)">Status <img id="img2" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('grade',3)">{% if grades %}{% trans "Grade" %}{% else %}%{% endif %} <img id="img3" src="{% static 'img/sorting_button.png' %}"></th>
    </tr>
  </thead>
  <tbody id="tbody">
      
  </tbody>
</table>
<script>
    let test_marks = [];
    let grades_list = [];
    let objectList = [];
    let columnNum = 4;
    let grades = true;
function loadTableData(objectList) {
  const tableBody = document.getElementById("tbody");
  let dataHtml = ""
  for (let object of objectList) {
    dataHtml += `<tr><td>${object.name}</td><td>${object.status}</td><td>${object.grade}</td></tr>`
  };
  tableBody.innerHTML = dataHtml;
};
</script>
{% if not grades %}
<script>
   grades = false;
</script>
{% endif %}
{% for mark in test_marks %}
<script>
    test_marks.push("{{mark}}")
</script>
{% endfor %}
{% for grade in grades_list %}
<script>
  if (grades) {
    var grade = "{{grade}}";
  } else {
    var grade = Math.round(Number("{{grade}}"));
    if (isNaN(grade)) grade = 0;
  }
  grades_list.push(grade)
</script>
{% endfor %}
{% for course in courses %}
<script>
  objectList.push({"name" : "<a href='{% url 'examiner_user:results-course-student' course=course.0 student=student.pk %}''>{{course.1}}</a>", 
    "status" : test_marks[Number("{{forloop.counter0}}")], "sort_status" : test_marks[Number("{{forloop.counter0}}")],
     "sort_name" : "{{course.1}}", "grade" : grades_list[Number("{{forloop.counter0}}")],
     "sort_grade" : grades_list[Number("{{forloop.counter0}}")]
     })
</script>
{% endfor %}
<script>let groups=[];</script>
{% for group in all_groups %}
<script>groups.push("{{group.name}}");</script> 
{% endfor %}
<script>
  autocomplete(document.getElementById("id_group"), groups);
</script>
{% load static %}
<script src="{% static 'js/table_sorting.js' %}"></script>
{% endblock %}