{% extends "examiner_base.html" %}

{% load i18n %}

{% block content %}
<h4>{% trans "Course information" %}</h4>
<p id="name">{% trans "Course name" %}:<b> {{object.name}}</b></p>
{% if object.category != "" %}
<p id="category">{% trans "Category" %}:<b> {{object.category}}</b></p>
{% endif %}

<table class="table">
  <tbody>
    <tr>
      <td>{% trans "Question type" %}:<b>{% if object.multiple_answer_questions == True %}
          {% trans "Multiple choice" %}
        {% elif object.multiple_answer_questions == False %}
          {% trans "Single choice" %}
        {% else %}{% endif %}</b>
      </td>
      <td id="attempt_amount">
        {% trans "Attempt amount" %}: <b>{{object.attempt_amount}}</b>
      </td>
    </tr>
    <tr>
      <td id="time">
        {% trans "Exam duration" %}:<b>{% if object.time == 0 %}{% trans "Unlimited" %}{% else %}
           {{object.time}} {% trans "minutes" %}{% endif %}</b>
      </td>
      <td>
        {% trans "Total question amount" %}:<b> {{questions|length}}</b>
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Amount of questions given to student" %}:<b> {{object.question_amount}}</b>
      </td>
      <td>
        {% trans "Amount of correct answers required to pass the exam" %}:<b>{{object.passing_score}}</b>
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Lesson amount" %}:<b> {{lessons|length}}</b>
      </td>
      <td>
        {% trans "Amount of students assigned to course" %}:<b> {{students|length}}</b>
      </td>
    </tr>
  </tbody>
</table>
{% if object.test_ready %}
    <p>{% trans "Test status" %}:<b>{% trans "Exam ready" %}</b></p>
{% else %}
    <p>{% trans "Test status" %}:<b>{% trans "Exam not ready" %}</b></p>
{% endif %}
<a href="{% url 'examiner_user:edit-course' pk=object.pk slug=object.name|slugify %}">
  <button class="btn btn-success myButton" type="submit" id="edit">
    {% trans "Edit" %}
  </button>
</a>
<a href="{% url 'examiner_user:search-course' %}">
  <button class="btn btn-success myButton">
    {% trans "Back" %}
  </button>
</a>
{% endblock %}