{% extends "examiner_base.html" %}

{% load i18n %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>{% trans "Edit question from course" %} <b>{{course.name}}</b></h4>
{% trans "Total question amount" %}: {{question_amount}}
<form method="POST" action="">
  {% csrf_token %}
  <p>
    {% trans "Question text" %}:
    <br>
    {{ form.text }}
  </p>
  <div id="id_correct_answers">
    <p>
      <label for="id_answer1">{% trans "Answer" %} nr.1:</label>
      {% if '1' in question.correct_answers %}
      <input type="radio" name="correct_answers" checked value="1" checked required id="id_correct_answers_1">
      {% else %}
      <input type="radio" name="correct_answers" value="1" required id="id_correct_answers_1">
      {% endif %}
      {{ form.answer1 }}
    </p>
    <p>
      <label for="id_answer2">{% trans "Answer" %} nr.2:</label>
      {% if '2' in question.correct_answers %}
      <input type="radio" name="correct_answers" value="2" checked required id="id_correct_answers_2">
      {% else %}
      <input type="radio" name="correct_answers" value="2" required id="id_correct_answers_2">
      {% endif %}
      {{ form.answer2 }}
    </p>
    <p>
      <label for="id_answer3">{% trans "Answer" %} nr.3:</label>
      {% if '3' in question.correct_answers %}
      <input type="radio" name="correct_answers" value="3" checked required id="id_correct_answers_3">
      {% else %}
      <input type="radio" name="correct_answers" value="3" required id="id_correct_answers_3">
      {% endif %}
      {{ form.answer3 }}
    </p>
    <p>
      <label for="id_answer4">{% trans "Answer" %} nr.4:</label>
      {% if '4' in question.correct_answers %}
      <input type="radio" name="correct_answers" value="4" checked required id="id_correct_answers_4">
      {% else %}
      <input type="radio" name="correct_answers" value="4" required id="id_correct_answers_4">
      {% endif %}
      {{ form.answer4 }}
    </p>
    <p>
      <label for="id_answer5">{% trans "Answer" %} nr.5:</label>
      {% if '5' in question.correct_answers %}
      <input type="radio" name="correct_answers" value="5" checked required id="id_correct_answers_5">
      {% else %}
      <input type="radio" name="correct_answers" value="5" required id="id_correct_answers_5">
      {% endif %}
      {{ form.answer5 }}
    </p>
      {{ form.course.as_hidden }}
  </div>
  <button class="btn btn-success myButton" type="submit" id="submit_change">{% trans "Change" %}</button>
</form>
<form method="POST" action="{% url 'examiner_user:delete-question' question=question.pk course=course.pk slug=course.name|slugify %}">
  {% csrf_token %}
  <button class="btn btn-danger mt-1 myButton" type="submit" id="submit_delete">{% trans "Delete" %}</button>
</form>
<a href="{% url 'examiner_user:search-question' pk=course.pk slug=course.name|slugify %}">
  <button class="btn btn-success mt-1 myButton" id="back">
    {% trans "Question list" %}
  </button>
</a>
<br>
<p>
    {% trans "Instruction" %}:
    <br>
    {% transblock %}Question should have 2 to 5 answers. If text field corresponding to the answer is left blank answer will
    not be included in exam. Correct answer is marked by checking field (or fields in case of multiple answer questions) situated
    next to text area with answer.{% endtransblock %}
</p>
{% endblock %}