{% extends "examiner_base.html" %}

{% load i18n %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
    {{ m }}
</div>
{% endfor %}
<div class="form-group">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.topic.as_hidden }}
        <br>
        {{ form.material }}
        {{ form.course.as_hidden }}
        <br>
        <p>{% trans "Add pdf files as learning resources" %}</p>
        <button class="btn btn-success mt-1 myButton" type="submit" id="submit">{% trans "Change" %}</button>
    </form>
</div>
{% endblock %}