{% extends "examiner_base.html" %}

{% block content %}
Pytania do kursu {{ course.name }}
<table class="table">
  <tbody>
    {% for question in questions %}
    <!-- <tr>
      <td class="borderless" style="border:none;">{{forloop.counter}}</td>
      <td class="borderless" style="border:none;">
        <a href="{% url 'examiner_user:edit-question' pk=question.pk slug=course.name|slugify %}">
          <button class="btn btn-success"><div class="small">Edytuj</div></button>
        </a>
      </td>
    </tr> -->
    {% endfor %}
  </tbody>
</table>
<br>
{% endfor %}
<br>
<a href="{% url 'examiner_user:create-question' pk=course.pk slug=course.name|slugify %}">
  <button class="btn btn-success mt-5" id="add_question">
    Dodaj Pytanie
  </button>
</a>
<a href="{% url 'examiner_user:edit-course' pk=course.pk slug=course.name|slugify %}">
  <button class="btn btn-success mt-5" type="submit" id="edit">
    Wróc do edycji kursu
  </button>
</a>
{% endblock %}