{% extends "examiner_base.html" %}

{% load i18n %}

{% block content %}
<h4>{% trans "Questions for course" %} <b>{{ course.name }}</b></h4>
<table class="table">
  <tbody>
    {% for question in questions %}
    <tr>
      <td class="borderless" style="border:none;">{{forloop.counter}}</td>
      <td class="borderless" style="border:none;">
        <a href="{% url 'examiner_user:edit-question' pk=question.pk slug=course.name|slugify %}" id="{{forloop.counter}}">
          <button class="btn btn-success ml-2">
            <div class="small">
              {% trans "Edit" %}
            </div>
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<a href="{% url 'examiner_user:create-question' pk=course.pk slug=course.name|slugify %}">
  <button class="btn btn-success mt-5 myButton" id="add_question">
    {% trans "Add question" %}
  </button>
</a>
<a href="{% url 'examiner_user:edit-course' pk=course.pk slug=course.name|slugify %}">
  <button class="btn btn-success mt-5 myButton" type="submit" id="edit">
    {% trans "Back to course editing" %}
  </button>
</a>
{% endblock %}