{% extends "base.html" %}

{% block content %}
{% for error in form.non_field_errors %}
<div class="alert alert-warning" role="alert">
  Prosimy o podanie poprawnej nazwy użytkownika i hasła. Wielkość liter ma znaczenie.
</div>
{% endfor %}
{% load static %}
<br>
<div class="text-center">
  <img src="{% static 'img/logo3.png' %}" height="80" width="300"/>
</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Nazwa użytkownika:</label>
        <input class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Hasło:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-success myButton" id="submit">Zaloguj się</button>
</form>
<a href="{% url 'exam:homepage' %}" class="btn btn-success mt-5 myButton" id="return">
    Wróć
</a>
{% endblock %}