{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% for error in form.non_field_errors %}
<div class="alert alert-warning" role="alert">
  {% trans "Enter your login credentials below. It's case sensitive" %}
</div>
{% endfor %}
{% load static %}
<br>
<div class="text-center">
  <img src="{% static 'img/logo3.png' %}" height="80" width="300"/>
</div>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">{% trans "Username" %}:</label>
        <input class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">{% trans "Password" %}:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-success myButton" id="submit">{% trans "Sign in" %}</button>
</form>
<a href="{% url 'exam:homepage' %}" class="btn btn-success mt-4 mb-5 myButton" id="return">
    {% trans "Back" %}
</a>
<br>
<p>
  <a href="{% url 'exam:reset-password' %}">
    {% trans "You are platform admin and forgot your password?" %}
  </a>
</p>
{% endblock %}