{% extends "base.html" %}

{% load i18n %}

{% block content %}
<br>
<div class="text-center">
<h3>{% trans "Password recovery" %}</h3>
<br>
<p>
    {% blocktranslate %}If you own e-learning platform and forgot your password you can change it by entering email adress
    given during registration. Message containing activation link will be sent to that adress. It will allow you to choose
    new password for admin account. If you are student or examiner then you have to contact your platform admin in order to
    get new password.{% endblocktranslate %}
</p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" value="Wyślij email" class="btn btn-success mt-2 myButton">
</form>
<a href="{% url 'exam:login' %}">
    <button class="btn btn-success mt-2 myButton">
        {% trans "Back" %}
    </button>
</a>
</div>
{% endblock %}