{% extends "base.html" %}

{% load i18n %}

{% block content %}
<br>
<div class="text-center">
<h3>{% trans "Password recovery" %}</h3>
<br>
<form method="POST">
    {% csrf_token %}
    <label for="id_new_password1">{% trans "New password" %}:</label>
    {{form.new_password1}}
    <br>
    <span class="helptext2">
        <ul>
          <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
          <li>{% trans "Your password must contain at least 8 characters." %}</li>
          <li>{% trans "Your password can’t be a commonly used password." %}</li>
          <li>{% trans "Your password can’t be entirely numeric." %}</li>
        </ul>
      </span>
      <br>
      <label for="id_new_password2">{% trans "Password confirmation (enter the same password as before)" %}</label>
    {{form.new_password2}}
    <br>
    <input type="submit" value="{% trans 'Change password' %}" class="btn btn-success mt-2 myButton">
</form>
</div>
{% endblock %}