{% extends "base.html" %}

{% block content %}
<br>
<div class="text-center">
<h3>Odzyskiwanie hasła</h3>
<br>
<p>
    Jeśli jesteś właścicielem platformy e-learningowej i zapomniałeś swojego hasła możesz je zmienić poprzez wpisanie
    adresu e-mail na którego platforma została założona. Na podany adres zostanie wysłana wiadomośc zawierająca link
    aktywacyjny. Umożliwia on wybranie nowego hasła dla konta administracyjnego. Jeśli jesteś studentem lub egzaminatorem
    korzystającym z platformy musisz skontaktować się ze założycielem swojej platformy w celu nadania nowego hasła.
</p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" value="Wyślij email" class="btn btn-success mt-2 myButton">
</form>
<a href="{% url 'exam:login' %}">
    <button class="btn btn-success mt-2 myButton">
        Wróć
    </button>
</a>
</div>
{% endblock %}