{% extends "base.html" %}

{% block content %}
<br>
<div class="text-center">
<h3>Odzyskiwanie hasła</h3>
<br>
<form method="POST">
    {% csrf_token %}
    <label for="id_new_password1">Nowe hasło:</label>
    {{form.new_password1}}
    <br>
    <span class="helptext2">
        <ul>
          <li>Hasło nie może być podobne do innych danych osobowych.</li>
          <li>Hasło musi awierać przynajmniej 8 znaków</li>
          <li>Hasło nie może być popularnie używanym hasłem</li>
          <li>Hasło nie może się składać z samych cyfr</li>
        </ul>
      </span>
      <br>
      <label for="id_new_password2">Prosimy o potwierdzenie hasła</label>
    {{form.new_password2}}
    <br>
    <input type="submit" value="Zmień hasło" class="btn btn-success mt-2 myButton">
</form>
</div>
{% endblock %}