{% load i18n %}
<div class="modal fade" id="privacy_policy">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Privacy policy" %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<div class="text-center"><b>{% trans "PRIVACY POLICY OF EXAMINER-MP.HEROKUAPP.COM SITE" %}</b></div><br>
{% trans "1. Protection of users personal data is high priority for this sites owner. Every effort is made to make sure that users personal data is kept safe." %}<br>
{% trans "2. User is defined as a natural person, legal person or organizational unit, without legal personality, which was granted legal capacity through act, uses web services offered by this website." %}<br>
{% trans "3. This document explains rules and extent of users personal data processing, their rights and duties of data administrator, and information about cookie files." %}<br>
<br><div class="text-center"><b>{% trans "I. PERSONAL DATA ADMINISTRATOR" %}</div></b><br>
{% trans "Mateusz Pawłowski e-mail adress: mm.pawlowski18@gmail.com is personal data administrator (hereinafter reffered to as „Owner”)." %}<br>
<br><div class="text-center"><b>{% trans "II. POURPOSE OF PROCESSING PERSONAL DATA" %}</b></div><br>
{% trans "1. Owner processed personal data for the pourpose of the aplication functioning fully." %}<br>
{% trans "2. That data is needed for registration on the website." %}<br>
<br><div class="text-center"><b>{% trans "III. TYPE OF PERSONAL DATA" %}</b></div><br>
{% trans "1. Owner processes personal data in form of e-mail adress, which is requested when somebody tries to register now e-learning platform." %}<br>
<br><div class="text-center"><b>{% trans "IV. LEGAL BASIS FOR PERSONAL DATA PROCESSING" %}</b></div><br>
{% trans "1. Personal data is processe according to Regulations of the European Parliament and of the Council(UE) 2016/679 of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation), hereinafter reffered to as „GDPR”." %}<br>
{% trans "2. Owner processes personal data only after prior permission, expressed during registration on the website." %}<br>
{% trans "3. Expression of agreement for processing personal data is completely voluntary, however refusal prevents from registration on Examiner website." %}<br>
<br><div class="text-center"><b>{% trans "V. USER RIGHTS" %}</b></div><br>
{% trans "1. User may request information about data processing from administrator." %}<br>
{% trans "2. User may request correction to their personal data." %}<br>
{% trans "3. User may revoke the agreement to personal data processing at any time. Revoking doesen't affect already taken actions. It will prevent the use of password change or inactivity notifications." %}<br>
{% trans "4. User may at any time request to remove their personal data, with consequences identical to the ones in the point above." %}<br>
{% trans "5. User may always, without explicit reason protest the use of their personal data." %}<br>
{% trans "6. User may request transfer of their personal data to a different entity. For this pourpose they should send request to owner, specyfing which entity (name, adress) should recive users personal data. When the wish is going to be confirmed, owner will pass, in electronic form, to the specyfied entity, user personal data. Request confirmation is needed due to saftery of users personal data and ensuring that request comes from authorized individual." %}<br>
{% trans "7. Owner informs user about undertaken actions, by the end of one month period since requests mentioned above were recieved." %}<br>
<br><div class="text-center"><b>{% trans "VI. COOKIE FILES" %}</b></div><br>
{% trans "1. Website is using cookie files or similar measures (hereinafter jointly reffered to as ”cookies”) to gather information about user acess and preferences." %}<br>
{% trans "2. Cookie files are pieces of information, which contain referential code, they are deposited by website on users device with pouropse of maintaining, sometimes tracking information about used device. Usually they are not sufficient to identity user." %}<br>
{% trans "3. Some of the cookie files, used by the website and only used during browser session and are deleted when browser is closed. Other are used to remember user so that they can be recognized on return.In that case they are saved for longer periods of time." %}<br>
{% trans "4. Cookie files used on the site are browser-length cookies and others used by web framework „Django”." %}<br>
{% trans "5. All cookie files used by the website, are compliant with European Union law." %}<br>
{% trans "6. Majority of mobile browser users automatically accept cookie files. If user doesen't change default browser settings cookie files will be stored in device memory." %}<br>
{% trans "7. User may change browser settings regarding cookie files or change browser to enable display of proper notification every time cookie files are downloaded. In order to change acceptace settings, it is necessery to change browser settings." %}<br>
{% trans "8. Blocking or deleting cookie files may prevent full acess to website." %}<br>
{% trans "9. Cookie files are used to manage session, that is:" %}<br>
{% trans "  a. Creation of logging sessions that keep track of user being logged in, and their requests would be served in safe and consistent way." %}<br>
{% trans "  b. Recognition of user that have already visited website." %}<br>
{% trans "  c. Recognizing if user is registered on the website" %}<br>
{% trans "  d. Registering device data, IP adress and information about used browser in order to manage and solve problems." %}<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
        </form>
        </div>
  
      </div>
    </div>
  </div>