{% load i18n %}
<div class="modal fade" id="privacy_policy">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Privacy policy" %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<div class="text-center"><b>POLITYKA PRYWATNOŚCI STRONY INTERNETOWEJ EXAMINER-MP.HEROKUAPP.COM</b></div><br>
1. Dla właściciela niniejszej strony internetowej, ochrona danych osobowych użytkowników jest sprawą wysokiej wagi. Dokłada on starań, aby Użytkownicy czuli się bezpiecznie podając swoje dane osobowe w trakcie korzystania ze strony.<br>
2. Użytkownik to osoba fizyczna, osoba prawne albo jednostka organizacyjna, nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną, używająca  usług sieciowych dostępnych w ramach strony internetowej.<br>
3. Dokument ten wyjaśnia zasady i zakres przetwarzania danych osobowych użytkownika, jego prawa oraz obowiązki administratora tych danych, a także informacje o plikach cookies.<br>
<br><div class="text-center"><b>I. ADMINISTRATOR DANYCH OSOBOWYCH</div></b><br>
Administratorem danych osobowych jest Mateusz Pawłowski adres e-mail: mm.pawlowski18@gmail.com (zwany dalej: „Właściciel”)<br>
<br><div class="text-center"><b>II. CEL PRZETWARZANIA DANYCH OSOBOWYCH</b></div><br>
1. Właściciel przetwarza dane osobowe użytkownika w celu funkcjonowania aplikacji.<br>
2. Dane te są potrzebne do zarejestrowania się na stronie internetowej.<br>
<br><div class="text-center"><b>III. RODZAJ DANYCH</b></div><br>
1. Właściciel przetwarza dane osobowe w postaci adresu e-mail, którego podanie jest niezbędne do zarejestrowania się jako administratora nowej platformy e-learningowej.<br>
<br><div class="text-center"><b>IV. PODSTAWA PRAWNA PRZETWARZANIA DANYCH OSOBOWYCH</b></div><br>
1. Dane osobowe są przetwarzane zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnie 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych), OJ L 119, 4.5.2016, p. 1-88, dalej zwane „rozporządzenie RODO”<br>
2. Właściciel przetwarza dane osobowe wyłącznie po uprzednim uzyskaniu zgody użytkownika, wyrażonej w momencie dokonania rejestracji na stronie internetowej.<br>
3. Wyrażenie zgody na przetwarzanie danych osobowych jest całkowicie dobrowolne, jednakże brak jej udzielenie odbiera możliwość rejestracji na stronie internetowej Examiner.<br>
<br><div class="text-center"><b>V. PRAWA PRZYSŁUGUJĄCE UŻYTKOWNIKOWI</b></div><br>
1. Użytkownik może zażądać od właściciela informacji o zakresie przetwarzania danych osobowych.<br>
2. Użytkownik może zażądać poprawienie swoich danych osobowych.<br>
3. Użytkownik może zawsze wycofać zgodę na przetwarzanie jego danych, bez podania przyczyny.  Wycofanie zgody nie wpłynie na czynności już dokonane. I uniemożliwi korzystanie z funkcji zmiany hasła konta oraz otrzymywania informacji o skasowaniu konta razem z platformą z powodu braku aktywności.<br>
4. Użytkownik może też w każdej chwili zażądać, bez podania przyczyny by właściciel usunął jego dane, z konsekwencjami identycznymi z punktem powyższym.<br>
5. Użytkownik może zawsze, bez podania przyczyny wyrazić sprzeciw przeciwko przetwarzaniu danych osobowych.<br>
6. Użytkownik może żądać by właściciel przekazał innemu podmiotowi przetwarzane dane osobowe użytkownika. Powinien w tym celu napisać prośbę do właściciela, wskazując jakiemu podmiotowi (nazwa, adres) należy przekazać dane osobowe Użytkownika. Po potwierdzeniu przez użytkownika swojego życzenia, właściciel przekaże, w formie elektronicznej, wskazanemu podmiotowi, dane osobowe użytkownika. Potwierdzenie żądania jest niezbędne z racji bezpieczeństwa danych osobowych użytkownika i uzyskanie pewności, że żądanie pochodzi od uprawnionej osoby.<br>
7. Właściciel informuje użytkownika o wykonanych działaniach, przed upływem jednego miesiąca od otrzymania żądania wymienionego w poprzednich punktach.<br>
<br><div class="text-center"><b>VI. PLIKI COOKIES</b></div><br>
1. Strona używa plików cookies (ciasteczka) lub podobna technologię (dalej łącznie nazywane:”cookies”) do zbierania informacji o dostępie użytkownika do strony oraz jego preferencjach.<br>
2. Piliki cookies to fragmenty informacji, które zwierają kod referencyjny, są one przesyłane przez stronę na urządzenie użytkownika w celu przechowywania, czasem śledzenie informacji o używanym urządzeniu. Zazwyczaj nie pozwalają na zidentyfikowanie osoby użytkownika.<br>
3. Niektóre z plików cookies, używanych przez stronę są dostępne tylko w czasie trwania sesji i są usuwane po zamknięciu przeglądarki. Inne służą do zapamiętywania użytkownika, który po powrocie na stronę internetową jest rozpoznawany. Wówczas są zachowywane na dłuższy czas.<br>
4. Pliki cookies używane na stronie to pliki pamięci podręcznej przeglądarki i inne używane przez framework  webowy „Django”.<br>
5. Wszystkie pliki cookies, używane przez stronę internetową, są zgodne z obowiązującym prawem Unii Europejskiej.<br>
6. Większość użytkowników przeglądarek mobilnych automatycznie akceptuje pliki cookies. Jeśli użytkownik nie zmieni ustawień przeglądarki, pliki cookies zostaną zapisane w pamięci urządzenia.<br>
7.  Użytkownik może zmienić preferencje dotyczące akceptacji plików cookies albo zmienić przeglądarkę aby umożliwić każdorazowe wywoływanie stosownego powiadomienia gdy cookies są pobierane. Aby zmienić ustawienia akceptacji, należy dostosować ustawienia przeglądarki.<br>
8. Blokowanie lub usuwanie plików cookies może uniemożliwić pełne korzystanie ze strony internetowej.<br>
9. Pliki cookies są wykorzystywane do zarządzania sesją, czyli:<br>
	a. Tworzenia sesji logowania do użytkownika aby strona pamiętała że 	użytkownik jest zalogowany, a jego żądania były wykonywane w sposób spójny 	i bezpieczny.<br>
	b. Rozpoznawanie użytkownika, który już odwiedził stronę internetową.<br>
	c. Rozpoznawania czy użytkownik jest zarejestrowany na stronie.<br>
	d. Rejestrowanie informacji z urządzenia, adres IP, informacje o używanej 	przeglądarce w celu administrowania i rozwiązywania problemów.<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
        </form>
        </div>
  
      </div>
    </div>
  </div>