{% extends "student_base.html" %}

{% load i18n %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>{% trans "Your courses" %}</h4>
<form method="POST">
  <select id="select">
    <option id="search1">{% trans "Search by name" %}</option>
    <option id="search2">{% trans "Search by category" %}</option>
    <option id="search3">{% trans "Search by status" %}</option>
  </select>
  {% csrf_token %}
  <div id="form1">
    {{ form1.as_p }}
  </div>
  <div id="form2" style="display: none;">
    <select id="id_category">
      {% for category in categories %}
        <option id="{{category}}">{{category}}</option>
      {% endfor %}
    </select>
  </div>
  <div id="form3" style="display: none;">
    {{ form2.as_p }}
  </div>
</form>
{% trans "Courses" %}:
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      {% load static %}
      <th scope="col" onclick="sortColumn('name',1)">{% trans "Name" %} <img id="img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('category',2)">{% trans "Category" %} <img id="img2" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('status',3)">Status <img id="img3" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="sortColumn('grade', 4)">{% if grades %}{% trans "Grade" %}{% else %}%{% endif %} <img id="img4" src="{% static 'img/sorting_button.png' %}"></th>
    </tr>
  </thead>
  <tbody id="tbody">
      
  </tbody>
</table>
<script>
  let test_marks = [];
  let objectList = [];
  let grades_list = [];
  let columnNum = 5;
  let grades = true;
</script>
{% if not grades %}
<script>
   grades = false;
</script>
{% endif %}
{% for mark in test_marks %}
<script>
    test_marks.push("{{mark}}")
</script>
{% endfor %}
{% for grade in grades_list %}
<script>
  if (grades) {
    var grade = "{{grade}}";
  } else {
    var grade = Math.round(Number("{{grade}}"));
    if (isNaN(grade)) grade = 0;
  }
  grades_list.push(grade)
</script>
{% endfor %}
<script>
  function loadTableData(objectList) {
  const tableBody = document.getElementById("tbody");
  let dataHtml = ""
  for (let object of objectList) {
    dataHtml += `<tr id="${object.sort_name}"><td id="name_stu_${object.sort_name}">${object.name}</td><td>${object.category}</td>
      <td id='status_${object.sort_name}'>${object.status}</td><td>${object.grade}</td></tr>`
  };
  tableBody.innerHTML = dataHtml;
};
</script>
{% for course in courses %}
<script>
  objectList.push({
    "name" : "<a href='{% url 'student:student-detail-course' pk=course.0 slug=course.1|slugify %}''>{{course.1}}</a>", 
    "status" : test_marks[Number("{{forloop.counter0}}")], "sort_status" : test_marks[Number("{{forloop.counter0}}")],
    "sort_name" : "{{course.1}}", "category" : "{{course.2}}", "sort_category" : "{{course.2}}",
    "grade" : grades_list[Number("{{forloop.counter0}}")], "sort_grade" : grades_list[Number("{{forloop.counter0}}")]
      })
</script>
{% endfor %}
{% load static %}
<script src="{% static 'js/table_sorting.js' %}"></script>
<script src="{% static 'js/student_course_search.js' %}"></script>
{% endblock %}