{% extends "student_base.html" %}

{% load i18n %}

{% block content %}
{% load static %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% for language in languages %}
<a href="/{{language.code}}/">
  <button id="{{language.name_local|title}}" class ="btn btn-success mb-4">
    {{language.name_local|title}}
  </button>
</a>
{% endfor %}
<button class="btn btn-success mb-4" type="button" data-toggle="modal" data-target="#privacy_policy">
  {% trans 'Privacy policy' %}</button>
<br>
{% if platform.logo|length == 0 %}
<div class="text-center"><img src="{% static 'img/logo3.png' %}" height="80" width="300"/></div>
{% else %}
<div class="text-center"><img class="center_logo" src="https://examiner-mp.s3.eu-central-1.amazonaws.com/media/logos/{{platform.logo}}"/></div>
{% endif %}
<br>
<h1 class="text-center">{{platform.name}}</h1>
<br>
<h2 class="text-center">{% trans "Welcome" %}</h2>
<br>
<h4 class="text-center">
  {% trans "You have sucessfuly logged into e-learning platform where you can find courses that were assigned to you." %}
</h4>
<br>
<a href = "{% url 'student:student-feedback' %}">
  <button class="btn btn-success myButton">{% trans "Share feedback" %}</button>
</a>
<br>
{% trans "Contact info:" %}
<br>
{% trans "E-mail adress: mm.pawlowski18@gmail.com" %}
<br>
{% trans "Phone number: +48 506 960 518" %}
{% include "privacy_policy.html" %}
{% endblock %}