{% extends "student_base.html" %}

{% block content %}
<h4><b>{{course.name}}</b></h4>
<br>
<a href="{% url 'student:student-list-lesson' pk=course.pk slug=course.name|slugify %}">Przeglądaj lekcje</a>
{% if course.test_ready and not passed %}
<br>
<a href="{% url 'student:student-attempt-exam' pk=course.pk slug=course.name|slugify %}" id="exam">Podejdź do egzaminu</a>
{% endif %}
{% if passed %}
<br>
<a href="{% url 'student:diploma' pk=course.pk slug=course.name|slugify %}">Pobierz Dyplom</a>
{% endif %}
<br>
<a href="{% url 'student:student-search-course' %}">
    <button class="btn btn-success mt-1" id="back">
      Wróć
    </button>
  </a>
{% endblock %}