{% extends "student_base.html" %}

{% load i18n %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
    {{ m }}
</div>
{% endfor %}
<br>
{% if 0 >= remaining_attempts %}
    {% if total_attempts == 1 %}
        <div class="text-center" id="no_attempt">
            <p>
                {% trans "You already attempted this test" %}
            </p>
        </div>
    {% else %}
        <div class="text-center">
            <p>
                {% trans "All" %} {{total_attempts}} {% trans "test attempts have been used up" %}
            </p>
        </div>
    {% endif %}
{% else %}
    <div class="text-center" id="course_name">
        <h3>{{course.name}}</h3>
    </div>
    <div class="text-center">
        <p>
            {% trans "You have" %} {{remaining_attempts}} {% trans "out of" %} {{total_attempts}} {% trans "remaining attempts" %}
        </p>
    </div>
    <br>
    <div class="text-center">
        <p>
            {% trans "This test is" %} {% if course.multiple_answer_questions %}{% trans "multiple" %}{% else %}{% trans "single" %}
            {% endif %} {% trans "choice test" %}.
            <br>
            {% trans "Test is composed of" %} {{course.question_amount}} {% trans "questions, in order to pass you have to give" %}
            {{course.passing_score}} {% trans "correct answers" %}.
            <br>
            {% if course.time != 0 %}
                {% trans "For completing the exam you have" %} {{course.time}} {% trans "minutes" %}.
            {% else %}
                {% trans "There is no time limit for this exam" %}
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <p>
            {% trans "Are you sure you want to attempt the exam?" %}
        </p>
    </div>
    <form method="POST" action="{% url 'student:student-pass-exam' pk=course.pk %}">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-1 mb-3 pr-5 pl-5 myButton" id="submit">
                {% trans "Yes" %}
            </button>
        </div>
    </form>
    <div class="text-center">
        <a href="{% url 'student:student-detail-course' pk=course.pk slug=course.name|slugify %}">
            <button class="btn btn-success mb-5 pr-5 pl-5 myButton">
                {% trans "No" %}
            </button>
        </a>
    </div>
{% endif %}
{% endblock %}