{% extends "student_base.html" %}

{% load i18n %}

{% block content %}
<h4 class="text-center">
    <br>
    {% trans "Test summary" %}
    <br><br>
    {{result.course.name}}
    <br><br>
</h4>
{% if timeout == True %}
<div class="text-center" id="timeout">
    <p>
        {% trans "Time to finish exam have passed" %}!
    </p>
</div>
{% endif %}
<div class="text-center">
    <p>
        {% trans "You recieved percentage score of" %} {{perc}}% <br>
        {% trans "You recieved" %} {{result.current_score}} {% trans "out of" %} {{max_score}} {% trans "points" %}.
    </p>
</div>
{% if result.passed == True %}
    <div class="text-center" id="success">
        <p>
            {% trans "Congratulations on passing exam" %}
        </p>
    </div>
{% else %}
    <div class="text-center" id="failure">
        <p>
            {% trans "Unfortunately you failed to pass the exam" %}
        </p>
    </div>
{% endif %}
<div class="text-center">
    <a href="{% url 'student:homepage' %}">
        <button class="btn btn-success mt-1 mb-5 myButton" id="ok">
            Ok
        </button>
    </a>
</div>
{% endblock %}