{% extends "platform_base.html" %}

{% load i18n %}

{% block content %}
<h4>{% trans "Create new examiner" %}</h4>
<div class="form-group">
  <form method="POST" action="">
    {% csrf_token %}
    <p>
      <label for="id_username">{% trans "Username: (Required. 150 characters or less. Only letters, numerals and @/./+/-/_)" %}</label>
      <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" class="form-control"
            autofocus required id="id_username">
      <span class="helptext"></span>
    </p>
    <p>
      <label for="id_password1">{% trans "Password:" %}</label>
      <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control">
      <span class="helptext">
        <ul>
          <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
          <li>{% trans "Your password must contain at least 8 characters." %}</li>
          <li>{% trans "Your password can’t be a commonly used password." %}</li>
          <li>{% trans "Your password can’t be entirely numeric." %}</li>
        </ul>
      </span>
    </p>
    <p>
      <label for="id_password2">{% trans "Password confirmation (enter the same password as before)" %}</label>
      <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control">
      <span class="helptext"></span>
    </p>
    <button class="btn btn-success myButton" type="submit" id="submit">{% trans "Create" %}</button>
  </form>
</div>
{% endblock %}