{% extends "platform_base.html" %}

{% block head %}
{% load static %}
<!-- autocomplete function was provided by courtesy of W3Schools. I didn't write it myself. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}"/>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
<h4>Student <b>{{student.username}}</b></h4>
<h5>Zmień nazwe użytkownika:</h5>
<div class="form-group">
    <form method="POST" action="{% url 'platform_admin:edit-examiner' pk=student.pk slug=student.username|slugify %}">
        {% csrf_token %}
        <label for="id_username">Nazwa użytkownika: (Wymagane. 150 znaków lub mniej. Tylko litery, cyfry i @/./+/-/_)</label>
        {{form.as_p}}
        <button class="btn btn-success mt-1 myButton" type="submit" id="submit">Zmień nazwe</button>
    </form>
</div>
<h5>Nadaj nowe hasło:</h5>
<div class="form-group">
  <form method="POST" action="{% url 'platform_admin:change-password' pk=student.pk %}">
    {% csrf_token %}
    <p>
      <label for="id_new_password1">Hasło:</label>
      <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
      <span class="helptext2">
        <ul>
          <li>Hasło nie może być podobne do innych danych osobowych.</li>
          <li>Hasło musi awierać przynajmniej 8 znaków</li>
          <li>Hasło nie może być popularnie używanym hasłem</li>
          <li>Hasło nie może się składać z samych cyfr</li>
        </ul>
      </span>
    </p>
    <p>
      <label for="id_new_password2">Potwierdzenie hasła: (Wprowadź ponownie te same hasło co poprzednio w celu weryfikacji)</label>
      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
      <button class="btn btn-success mt-1 myButton" type="submit" id="submit">Zmień hasło</button>
    </p>
  </form>
</div>
<hr>
<p>Prosze wpisać nazwe grupy do której ma zostać przypisany student <b>{{student.username}}</b></p>
<div class="form-group">
  <form autocomplete="off" method="POST" action="">
      {% csrf_token %}
      <div class="autocomplete" style="width:300px;">
          {{ attach_form.group }}
      </div>
      {{ attach_form.student.as_hidden }}
      <br>
      <button class="btn btn-success mt-3" type="submit" id="submit">Przypisz</button>
  </form>
</div>
<a href="{% url 'platform_admin:student-search' %}">
  <button class="btn btn-success mt-1 myButton" id="back">
    Wróć
  </button>
</a>
<br>
<button class="btn btn-danger mt-1 myButton" type="button" data-toggle="modal" data-target="#deleteModal">Usuń studenta</button>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Usunięcie użytkownika</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz skasować użytkownika {{student.username}}? Tej decyzji nie da się cofnąć.
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'platform_admin:delete-user' pk=student.pk %}">
          {% csrf_token %}
        <button class="btn btn-danger" type="submit" id="submit">Usuń studenta</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cofnij</button>
      </form>
      </div>

    </div>
  </div>
</div>
<script>
  let groups = [];
</script>
{% for group in all_groups %}
  <script>groups.push("{{group.name}}");</script>
{% endfor %}
<script>
  autocomplete(document.getElementById("id_group"), groups);
  document.getElementsByClassName("helptext")[0].style.display = "none";
  document.getElementsByTagName("strong")[0].style.display = "none";
  document.getElementsByTagName("label")[1].style.display = "none";
</script>
{% endblock %}