{% extends base %}

{% block head %}
{% load static %}
<!-- autocomplete function was provided by courtesy of W3Schools. I didn't write it myself. -->
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}"/>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<h4>Grupa studencka <b>{{group.name}}</b></h4>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success myButton" type="submit" id="submit">Zmień nazwę</button>
</form>
<hr>
<button type="button" class="btn btn-secondary dropdown-toggle tog mt-1 myButton" id="lesson_nav">Studenci</button>
<div class="no-display">
<p>Prosze wpisać nazwe studenta który ma zostać przypisany do grupy <b>{{group.name}}</b></p>
<div class="form-group">
  {% if side == "platform" %}
    <form autocomplete="off" method="POST" action="{% url 'platform_admin:attach-student' pk=group.pk %}">
  {% else %}
    <form autocomplete="off" method="POST" action="{% url 'examiner_user:examiner-attach-student' pk=group.pk %}">
  {% endif %}
        {% csrf_token %}
        <div class="autocomplete" style="width:300px;">
            {{ student_form.student }}
        </div>
        {{ student_form.group.as_hidden }}
        <br>
        <button class="btn btn-success mt-3 myButton" type="submit" id="submit">Przypisz</button>
    </form>
</div>
<h4>Szukaj</h4>
<div>
  <input id="id_name" class="form-control">
</div>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr id="first_row">
      {% load static %}
      <th id="th1" scope="col" onclick="sortColumn('name',1)">Nazwa użytkownika <img id="img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th id="th2" scope="col" onclick="sortColumn('login',2)">Ostatni login <img id="img2" src="{% static 'img/sorting_button.png' %}"></th>
      <th id="th3" scope="col" onclick="sortColumn('join',3)">Data dołączenia <img id="img3" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="tbody">
      
  </tbody>
</table>
</div>
<hr>
<button type="button" class="btn btn-secondary dropdown-toggle tog mt-1 myButton" id="lesson_nav">Kursy</button>
<div class="no-display">
<div class="form-group">
  {% if side == "platform" %}
    <form autocomplete="off" method="POST" action="{% url 'platform_admin:attach-course' pk=group.pk %}">
  {% else %}
    <form autocomplete="off" method="POST" action="{% url 'examiner_user:examiner-attach-course' pk=group.pk %}">
  {% endif %}
        {% csrf_token %}
        <div class="autocomplete" style="width:300px;">
          <label for="course_id">Prosze wpisać nazwe kursu który ma zostać przypisany do grupy <b>{{group.name}}</b>:</label>
            {{ course_form.course }}
          </div>
          <br>
          <label for="term_id">Data do której studenci z grupy mają ukończyć kurs:</label>
          <div style="width:300px;">
            {{ course_form.term }}
          </div>
            {{ course_form.group.as_hidden }}
        <br>
        <button class="btn btn-success mt-3 myButton" type="submit" id="submit">Przypisz</button>
    </form>
</div>
<h4>Szukaj kursów</h4>
<select id="select">
  <option id="course_search1" selected="selected">Szukaj po nazwie</option>
  <option id="course_search2">Szukaj po kategorii</option>
</select>
<br>
  <div id="course_form1">
    <input id="course_id_name" class="form-control">
  </div>
  <div id="course_form2">
  <br>
  <select id="course_id_category">
    {% for category in categories %}
    <option id="{{category}}">{{category}}</option>
    {% endfor %}
  </select>
</div>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr id="first_course_row">
      {% load static %}
      <th scope="col" onclick="courseSortColumn('name',1)" class="text-center">Nazwa <img id="course_img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="courseSortColumn('category',2)" class="text-center">Kategoria <img id="course_img2" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col" onclick="courseSortColumn('term',3)" class="text-center">Termin ukończenia <img id="course_img3" src="{% static 'img/sorting_button.png' %}"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="course_tbody">
      
  </tbody>
</table>
</div>
<hr>
<br>
{% if side == "platform" %}
<button class="btn btn-danger mt-1 myButton" type="button" data-toggle="modal" data-target="#deleteModal">Usuń grupe</button>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Usunięcie grupy studenckiej</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz skasować grupe studencką {{group.name}}? Tej decyzji nie da się cofnąć, a kursy i uczniowie przypisani
        do grupy zostaną od niej odłączeni.
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'platform_admin:delete-group' pk=group.pk %}">
          {% csrf_token %}
        <button class="btn btn-danger" type="submit" id="submit">Usuń grupe</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cofnij</button>
      </form>
      </div>

    </div>
  </div>
</div>
<br>
{% endif %}
{% if side == "platform" %}
<a href="{% url 'platform_admin:student-group-search' %}">
{% else %}
<a href="{% url 'examiner_user:student-group' %}">
{% endif %}
  <button class="btn btn-success mt-1 myButton" id="back">
    Wróć
  </button>
</a>
<script>
  let students=[];
  let courses=[];
</script>
{% for student in all_students %}
  <script>students.push("{{student.username}}");</script>
{% endfor %}
{% for course in all_courses %}
<script>courses.push("{{course.name}}");</script>
{% endfor %}
<script>
    autocomplete(document.getElementById("id_student"), students);
    autocomplete(document.getElementById("id_course"), courses);
</script>

<script>
var acc = document.getElementsByClassName("tog");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
</script>
<script>
    let columnNum = 4;
    let objectList = [];
    function loadTableData(objectList) {
    const tableBody = document.getElementById("tbody");
    let dataHtml = ""
    for (let object of objectList) {
      dataHtml += `<tr><td id="${object.sort_name}">${object.name}</td><td>${object.login}</td><td>${object.join}</td>
                  <td>${object.delete}</td></tr>`
    };
    tableBody.innerHTML = dataHtml;
  };
  </script>
  <script src="{% static 'js/month_translation.js' %}"></script>
  {% for student in group_students %}
  <script>
    objectList.push({"name" : `{% if side == "platform" %}<a href="{% url 'platform_admin:edit-student' pk=student.pk %}">
      {{student.username}}</a>{% else %}<a href="{% url 'examiner_user:detail-student' pk=student.pk %}">
      {{student.username}}</a>{% endif %}`, 
      "login" : month_conv("{% if student.last_login == None %} Brak {% else %}{{student.last_login}}{% endif %}"),
      "join" : month_conv("{{student.date_joined}}"), "sort_join" : new Date("{{student.date_joined.isoformat}}"),
      "sort_name" : "{{student.username}}", "sort_login" :
      new Date("{% if student.last_login == None %} 08 October 2001 11:32 UTC {% else %}{{student.last_login.isoformat}}{% endif %}"),
      "delete" : `{% if side == "platform" %}<form method="POST" action="{% url 'platform_admin:unattach-student' pk=group.pk %}">
      {% else %}<form method="POST" action="{% url 'examiner_user:examiner-unattach-student' pk=group.pk %}">{% endif %}
                  {% csrf_token %}
                  <input type="hidden" value="{{student.pk}}" name="student">
                  <button type="submit" class="btn btn-danger ml-2 myButton" id="{{student.username}}_delete">Usuń</button></form>`
        })
  </script>
  {% endfor %}
  <script>
    let courseObjectList = [];
    function courseLoadTableData(courseObjectList) {
    const tableBody = document.getElementById("course_tbody");
    let dataHtml = ""
    for (let object of courseObjectList) {
      dataHtml += `<tr><td id="${object.sort_name}">${object.name}</td><td>${object.category}</td><td class="text-center">${object.term}</td>
                  <td>${object.delete}</td></tr>`
    };
    tableBody.innerHTML = dataHtml;
  };
  </script>
  {% for course in group_courses %}
  <script> 
    courseObjectList.push({"name" : `{% if side == "platform" %}<a href="{% url 'platform_admin:platform-detail-course' pk=course.pk group=group.pk %}">
    {{course.name}}</a>{% else %}<a href="{% url 'examiner_user:detail-course' pk=course.pk slug=course.name|slugify %}">
    {{course.name}}</a>{% endif %}`, "category" : "{{course.category}}",
    "term" : month_conv(`{% for term in terms %}{% if term.0.course == course %}{{term.0.time}} {{term.1}}&nbsp&nbsp&nbsp
    <button class="btn btn-success mt-1" type="button" data-toggle="modal" data-target="#changeModal{{forloop.counter}}">
      Zmień date</button>{% endif %}{% endfor %}`),
     "sort_name" : "{{course.name}}", "sort_category" : "{{course.category}}",
     "sort_term" : new Date(`{% for term in terms %}{% if term.0.course == course %}{{term.0.time.isoformat}}{% endif %}{% endfor %}`),
      "delete" : `{% if side == "platform" %}<form method="POST" action="{% url 'platform_admin:unattach-course' pk=group.pk %}">
      {% else %}<form method="POST" action="{% url 'examiner_user:examiner-unattach-course' pk=group.pk %}">{% endif %}
                  {% csrf_token %}
                  <input type="hidden" value="{{course.pk}}" name="course">
                  <button type="submit" class="btn btn-danger ml-2 myButton" id="{{course.name}}_delete">Usuń</button></form>`
        })
  </script>
  <div class="modal fade" id="changeModal{{forloop.counter}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Zmień termin ukończenia kursu</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Zmiana terminu ukończenia kursu <b>{{course.name}}</b>
          <br>
          Można zastosować rózne formaty zapisu np.RRRR-MM-DD
          {% if side == "platform" %}
          <form method="POST" action="{% url 'platform_admin:change-term' pk=group.pk course=course.pk %}">
          {% else %}
          <form method="POST" action="{% url 'examiner_user:examiner-change-term' pk=group.pk course=course.pk %}">
          {% endif %}
            {% csrf_token %}
            {{term_form.time}}
          </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit" id="submit">Zmień</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">Anuluj</button>
        </form>
        </div>
  
      </div>
    </div>
  </div>
  {% endfor %}
  {% load static %}
  <script src="{% static 'js/table_sorting.js' %}"></script>
  <script src="{% static 'js/course_search.js' %}"></script>
  <script src="{% static 'js/student_group_sort_search.js' %}"></script>
<script>
  window.onload = () => {
    loadTableData(objectList)
    courseLoadTableData(courseObjectList)
  };
</script>
{% endblock %}