{% extends "platform_base.html" %}

{% load i18n %}

{% block content %}
<h4>{% trans "Examiner" %} <b>{{examiner.username}}</b></h4>
<h5>{% trans "Change username:" %}</h5>
<div class="form-group">
    <form method="POST" action="">
        {% csrf_token %}
        <label for="id_username">{% trans "Username: (Required. 150 characters or less. Only letters, numerals and @/./+/-/_)" %}</label>
        {{form.as_p}}
        <button class="btn btn-success mt-1 myButton" type="submit" id="submit">{% trans "Change username" %}</button>
    </form>
</div>
<h5>{% trans "New password" %}</h5>
<div class="form-group">
  <form method="POST" action="{% url 'platform_admin:change-password' pk=examiner.pk %}">
    {% csrf_token %}
    <p>
      <label for="id_new_password1">{% trans "Password:" %}</label>
      <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
      <span class="helptext2">
        <ul>
          <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
          <li>{% trans "Your password must contain at least 8 characters." %}</li>
          <li>{% trans "Your password can’t be a commonly used password." %}</li>
          <li>{% trans "Your password can’t be entirely numeric." %}</li>
        </ul>
      </span>
    </p>
    <p>
      <label for="id_new_password2">{% trans "Password confirmation (enter the same password as before)" %}</label>
      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
      <button class="btn btn-success mt-1 myButton" type="submit" id="submit">{% trans "Change password" %}</button>
    </p>
  </form>
</div>
<a href="{% url 'platform_admin:examiner-search' %}">
  <button class="btn btn-success mt-1 myButton" id="back">
    {% trans "Back" %}
  </button>
</a>
<br>
<button class="btn btn-danger mt-1 myButton" type="button" data-toggle="modal" data-target="#deleteModal">{% trans "Delete examiner" %}</button>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Examiner deletion" %}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% trans "Are you sure you want to delete user" %} {{examiner.username}}? {% trans "You can't revert this choice" %}
      </div>
      <div class="modal-footer">
        <form method="POST" action="{% url 'platform_admin:delete-user' pk=examiner.pk %}">
          {% csrf_token %}
        <button class="btn btn-danger" type="submit" id="submit">{% trans "Delete examiner" %}</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cofnij</button>
      </form>
      </div>

    </div>
  </div>
</div>
<script>
  document.getElementsByClassName("helptext")[0].style.display = "none";
  document.getElementsByTagName("strong")[0].style.display = "none";
  document.getElementsByTagName("label")[1].style.display = "none";
</script>
{% endblock %}