{% extends base %}

{% load i18n %}

{% block content %}
<div class="text-center">
<h3>{% trans "Report suggestion or criticism" %}</h3>
<br>
<p>
    {% blocktranslate %}Our goal is continous development and improvment of Examiner app. For this puropuse we gather opinions, 
    suggestions and criticisms from site users which are valuable source of information for us. We are very grateful
    that you devote your time and attention to fill evaluation form. It's completely anonymous." {% endblocktranslate %}
</p>
<form method="POST">
    {% csrf_token %}
    <label for="id_points">{% trans "How would you score Examiner aplication on a 1 to 5 scale?" %}</label>
    <br>
    {{form.points}}
    <br>
    <label for="id_feedback">{% trans "Feedback:" %}</label><br>
    {{form.feedback}}
    <br>
    <input type="submit" value="{% trans 'Send opinion' %}" class="btn btn-success mt-2 myButton">
</form>
</div>
{% endblock %}