{% extends "platform_base.html" %}

{% load i18n %}

{% block content %}
<h4>{% trans "Course information" %}</h4>
<p id="name">{% trans "Course name:" %}<b> {{object.name}}</b></p>
{% if object.category != "" %}
<p id="category">{% trans "Category:" %}<b> {{object.category}}</b></p>
{% endif %}

<table class="table">
  <tbody>
    <tr>
      <td>{%  trans "Question type:" %}<b>{% if object.multiple_answer_questions == True %}
          {% trans "Multiple choice questions" %}
        {% elif object.multiple_answer_questions == False %}
          {% trans "Single choice questions" %}
        {% else %}{% endif %}</b>
      </td>
      <td id="attempt_amount">
        {% trans "Attempt amount:" %} <b>{{object.attempt_amount}}</b>
      </td>
    </tr>
    <tr>
      <td id="time">
        {% trans "Test duration:" %}<b>{% if object.time == 0 %}{% trans "Unlimited" %}{% else %} {{object.time}} {% trans "minutes" %}{% endif %}</b>
      </td>
      <td>
        {% trans "Question amount total:" %}<b> {{questions|length}}</b>
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Amount of questions given to student during exam:" %}<b> {{object.question_amount}}</b>
      </td>
      <td>
        {% trans "Amount of correct answers required to pass exam:" %}<b>{{object.passing_score}}</b>
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Lesson amount:" %}<b> {{lessons|length}}</b>
      </td>
      <td>
        {% trans "Amount of students assigned to course:" %}<b> {{students|length}}</b>
      </td>
    </tr>
  </tbody>
</table>
{% if object.test_ready %}
    <p>{% trans "Exam status:" %}<b>{% trans "Exam ready" %}</b></p>
{% else %}
    <p>{% trans "Exam status:" %}<b>{% trans "Exam not ready" %}</b></p>
{% endif %}
<br>
<button class="btn btn-danger mt-1 myButton" type="button" data-toggle="modal" data-target="#deleteModal">{% trans "Delete course" %}</button>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Course deletion" %}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% blocktranslate %}Are you sure you want to delete course {% endblocktranslate %} {{object.name}}? {% blocktranslate %}
        This choice can't be reverted. You won't be able to recover lesson materials. All data concerning exam
        assigned to course (questions, student results) will be lost as well.{% endblocktranslate %}
      </div>
      <div class="modal-footer">
        <form method="POST" action="">
          {% csrf_token %}
        <button class="btn btn-danger" type="submit" id="submit">{% trans "Delete course" %}</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
      </form>
      </div>

    </div>
  </div>
</div>
<br>
<a href="{% url 'platform_admin:edit-student-group' pk=group.pk slug=group.name|slugify %}">
  <button class="btn btn-success mt-1 myButton">
    {% trans "Back" %}
  </button>
</a>
{% endblock %}