{% extends "platform_base.html" %}

{% load i18n %}

{% block content %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<br><br>
<p class="text-center">
  <a href="{% url 'platform_admin:create-examiner' %}" class="btn btn-success my-2 my-lg-0 myButton">
    {% trans "Create examiner" %}
  </a>
</p>
<br><br>
<h4>{% trans "Search" %}</h4>
<div id="form1">
  {{ form.as_p }}
</div>
<table class="table">
  <thead class="thead-dark">
    <tr id="first_row">
      {% load static %}
      <th id="th1" scope="col" onclick="sortColumn('name',1)">{% trans "Username" %} <img id="img1" src="{% static 'img/sorting_button.png' %}"></th>
      <th id="th2" scope="col" onclick="sortColumn('login',2)">{% trans "Last login" %} <img id="img2" src="{% static 'img/sorting_button.png' %}"></th>
      <th id="th3" scope="col" onclick="sortColumn('join',3)">{% trans "Join date" %} <img id="img3" src="{% static 'img/sorting_button.png' %}"></th>
    </tr>
  </thead>
  <tbody id="tbody">
      
  </tbody>
</table>
<script>
  let columnNum = 4;
  let objectList = [];
  function loadTableData(objectList) {
  const tableBody = document.getElementById("tbody");
  let dataHtml = ""
  for (let object of objectList) {
    dataHtml += `<tr><td id="${object.sort_name}">${object.name}</td><td>${object.login}</td><td>${object.join}</td></tr>`
  };
  tableBody.innerHTML = dataHtml;
};
</script>
{% for examiner in object_list %}
<script>
  objectList.push({"name" : "<a href='{% url 'platform_admin:edit-examiner' pk=examiner.pk slug=examiner.username|slugify %}''>{{examiner.username}}</a>", 
    "login" : "{% if examiner.last_login == None %} {% trans 'None' %} {% else %}{{examiner.last_login}}{% endif %}",
    "join" : "{{examiner.date_joined}}", "sort_join" : new Date("{{examiner.date_joined.isoformat}}"),
    "sort_name" : "{{examiner.username}}", "sort_login" : 
    new Date("{% if examiner.last_login == None %} 08 October 2001 11:32 UTC {% else %}{{examiner.last_login.isoformat}}{% endif %}"),
      })
</script>
{% endfor %}
{% load static %}
<script src="{% static 'js/table_sorting.js' %}"></script>
<script src="{% static 'js/course_search.js' %}"></script>
{% endblock %}