{% extends "platform_base.html" %}

{% load i18n %}

{% block content %}
{% load static %}
{% for m in messages %}
<div class="alert alert-warning" role="alert">
  {{ m }}
</div>
{% endfor %}
<br>
{% if platform.logo|length == 0 %}
<div class="text-center"><img src="{% static 'img/logo3.png' %}" height="80" width="300"/></div>
{% else %}
<div class="text-center"><img class="center_logo" src="/media/logos/{{platform.logo}}"/></div>
{% endif %}
<br>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form.name}}
    <br>
    {{form.logo}}
    <br>
    <button class="btn btn-success mt-3 myButton" type="submit" id="submit">{% trans "Save settings" %}</button>
</form>
<hr>
<h3>{% trans "Grades" %}</h3>
<p>
  {% blocktranslate %}There's a functionality that awards grades to students after exams.You should enter displayed grade name and
  minimal percentage bar for achieving given grade. Student recieves highest grade that fulfils percentage bar requirements.
  Passing course is independent of the grade as it's determined by passing amount of correct answers which is set separetely
  for each course. The goal of grading system is more precise description of sucessfully passed exams.{% endblocktranslate %}
</p>
<p>
  {% blocktranslate %}There are two default grading systems- school (1,2,3,4,5,6) and academic (2,3,3.5,4,4.5,5) Which can be set
  by pressing apropriate button.{% endblocktranslate %}
</p>
<form method="POST" action="{% url 'platform_admin:default-grades' grading_sys='school' %}">
  {% csrf_token %}
  <button class="btn btn-success myButton" type="submit" id="submit">{% trans "School system" %}</button>
</form>
<form method="POST" action="{% url 'platform_admin:default-grades' grading_sys='academic' %}">
  {% csrf_token %}
  <button class="btn btn-success mt-1 myButton" type="submit" id="submit">{% trans "Academic system" %}</button>
</form>
<form method="POST" action="{% url 'platform_admin:create-grade' %}">
  {% csrf_token %}
  <label> {% trans "Grade name:" %}</label><br>
  {{grade_form.name}}
  <label for="id_bar">{% trans "Required percentage bar:" %}</label><br>
  {{grade_form.bar}}%
  {{grade_form.platform.as_hidden}}
  <br>
  <button class="btn btn-success mt-3 myButton" type="submit" id="submit">{% trans "Add grade" %}</button>
</form>
<p>{% trans "Currently used grades:" %}</p>
<table class="table">
  <thead class="thead-dark">
    <tr id="first_row">
      {% load static %}
      <th id="th1" scope="col" width="20%">{% trans "Name" %}</th>
      <th id="th2" scope="col">{% trans "Bar" %}</th>
      <th id="th3" scope="col"></th>
    </tr>
  </thead>
  <tbody id="tbody">
    {% for grade in grades %}
      <tr>
        <td>{{grade.name}}</td>
        <td>{{grade.bar}}%</td>
        <td>
          <form method="POST" action="{% url 'platform_admin:delete-grade' pk=grade.pk %}">
            {% csrf_token %}
            <button class="btn btn-danger myButton" type="submit" id="submit">{% trans "Delete" %}</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}